@font-face {
  font-family: 'Oswald';
  src: url('fonts/oswald-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('fonts/oswald-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

html {
  font-family: sans-serif;
}

.fonts-loaded {
  font-family: 'Oswald', sans-serif;
}
