@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0em;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

.home-photo {
  width: 100%;
  position: relative;
}

.home-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
}

.home-h1 {
  text-align: center;
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: 0em;
  margin-top: 0em;
}

.home-p {
  text-align: center;
  font-size: 1.25em;
  margin-top: 0em;
  margin-bottom: 2em;
}

.home-a {
  color: #00bbe6;
  text-decoration: none;
}

.home-a:hover {
  color: #fff;
}

.home-button1 {
  text-align: center;
  border-color: #00bbe6;
  border-style: solid;
  color: #00bbe6;
  margin: 0em 2em 0em 2em;
  padding: 0.5em 0em 0.5em 0em;
  font-size: 1.25em;
}

.home-button1:hover {
  background-color: #00bbe6;
  border-color: #00bbe6;
  color: #fff;
}

.home-button2 {
  text-align: center;
  border-color: #00bbe6;
  border-style: solid;
  color: #00bbe6;
  margin: 1em 2em 0em 2em;
  padding: 0.5em 0em 0.5em 0em;
  font-size: 1.25em;
}

.home-button2:hover {
  background-color: #00bbe6;
  border-color: #00bbe6;
  color: #fff;
}

.p-button {
  margin: 0em;
}

header nav {
  background-color: #e6e7e8;
  padding-top: 1.5em;
  padding-bottom: 1.25em;
}

.nav-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90px;
}

header nav li {
  color: #00bbe6;
  font-size: 1.25em;
  text-align: center;
  margin: 0.5em;
  padding: 0.5em 0em 0.5em 0em;
}

header nav li:hover {
  background-color: #00bbe6;
  margin-left: 4em;
  margin-right: 4em;
  color: #fff;
}

.current {
  color: #fff;
  border-color: #00bbe6;
  border-style: solid;
  color: #00bbe6;
  margin: 0em 4em 0em 4em;
  padding: 0.5em 0em 0.5em 0em;
}

ul {
  list-style-type: none;
  padding: 0em;
}

.work-a {
  text-decoration: none;
  color: #fff;
}

.work-a2 {
  color: #00bbe6;
  text-decoration: none;
}

.work-a2:hover {
  color: #fff;
  background-color: #00bbe6;
}

.work-h1 {
  text-align: center;
  font-size: 3.5em;
  margin: 0.5em 0em 0em 0em;
}

.work-p1 {
  text-align: center;
  font-size: 1.5em;
  margin: 0em 0em 1.5em 0em;
  color: #00bbe6;
}

.sections img {
  width: 100%;
}

.section1-photo:hover {
  opacity: 0.7;
}

.work-s-1 {
  position: relative;
  background-color: #000;
}

.h2-pack {
  position: absolute;
  width: 100%;
  color: #fff;
  z-index: 200;
  font-size: 2em;
  text-align: center;
  top: 38%;
  transform: translateY(-50%);
}

.section2-photo:hover {
  opacity: 0.7;
}

.work-s-2 {
  position: relative;
  background-color: #000;
}

.h2-print {
  position: absolute;
  width: 100%;
  color: #fff;
  z-index: 200;
  font-size: 2em;
  text-align: center;
  top: 38%;
  transform: translateY(-50%);
}

.section3-photo:hover {
  opacity: 0.7;
}

.work-s-3 {
  position: relative;
  background-color: #000;
}

.h2-brand {
  position: absolute;
  width: 100%;
  color: #fff;
  z-index: 200;
  font-size: 2em;
  text-align: center;
  top: 38%;
  transform: translateY(-50%);
}

.section4-photo:hover {
  opacity: 0.7;
}

.work-s-4 {
  position: relative;
  background-color: #000;
}

.h2-illus {
  position: absolute;
  width: 100%;
  color: #fff;
  z-index: 200;
  font-size: 2em;
  text-align: center;
  top: 38%;
  transform: translateY(-50%);
}

.section5-photo:hover {
  opacity: 0.7;
}

.work-s-5 {
  position: relative;
  background-color: #000;
}

.h2-mark {
  position: absolute;
  width: 100%;
  color: #fff;
  z-index: 200;
  font-size: 2em;
  text-align: center;
  top: 38%;
  transform: translateY(-50%);
}

.section6-photo:hover {
  opacity: 0.7;
}

.work-s-6 {
  position: relative;
  background-color: #000;
}

.h2-motion {
  position: absolute;
  width: 100%;
  color: #fff;
  z-index: 200;
  font-size: 2em;
  text-align: center;
  top: 38%;
  transform: translateY(-50%);
}

footer {
  background-color: #e6e7e8;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  color: #000;
  font-size: 1.25em;
  margin-top: 2em;
}

.copyright {
  margin: 1em 0em 1em 0em;;
  font-size: 0.75em;
}

footer ul {
  margin: 0em;
  width: 100%;
}

footer li {
  margin: 0.25em 0.75em 0.25em 0.75em;
  display: inline-block;
}

.email {
  margin-left: 0.5em;
  margin-right: 0.5em;
  display: inline-block;
}

.email:hover {
  opacity: 0.7;
}

.tumblr {
  margin-left: 0.5em;
  margin-right: 0.5em;
  display: inline-block;
}

.tumblr:hover {
  opacity: 0.7;
}

footer a {
  color: #000;
  text-decoration: none;
  font-size: 1em;
}

footer a:hover {
  color: #00bbe6;
}

@media only screen and (min-width: 500px) {

.home-logo {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 1em;
}

.home-h1 {
  position: absolute;
  top: 2.4em;
  width: 100%;
  left: 0px;
  font-size: 3em;
}

.home-p {
  position: absolute;
  top: 9em;
  width: 100%;
  left: 0px;
}

.home-button1 {
  position: absolute;
  width: 25%;
  left: 100px;
  top: 17em;
  margin: 0em;
}

.home-button2 {
  position: absolute;
  width: 25%;
  right: 100px;
  top: 17em;
  margin: 0em;
}

header nav {
  padding-top: 0.75em;
  padding-bottom: 1em;
}

.nav-logo {
  display: inline-block;
  width: 60px;
  margin-left: 1em;
}

nav ul {
  margin: 0em;
  float: right;
}

header nav li {
  margin: 0em;
  float: left;
  padding: 0.65em 1em 0.65em 1em;
}

header nav li:hover {
  margin-left: 0em;
  margin-right: 0em;
  padding-top: 0.65em;
  padding-bottom: 0.65em;
}

.current {
  margin: 0em 1em 0em 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  float: right;
}

.current:hover {
  margin: 0em 1em 0em 0.5em;
  padding: 0.5em 1em 0.5em 1em;
}

.work-a2 {
  margin: 0em;
}

}

@media only screen and (min-width: 565px) {

.home-a {
  color: #fff;
}

.home-button1 {
  top: 11.5em;
  left: 120px;
  border-color: #fff;
  border-style: solid;
  color: #fff;
}

.home-button2 {
  top: 11.5em;
  right: 120px;
  border-color: #fff;
  border-style: solid;
  color: #fff;
}

}

@media only screen and (min-width: 630px) {

  .home-button1 {
    top: 12em;
    left: 130px;
  }

  .home-button2 {
    top: 12em;
    right: 130px;
  }

}

@media only screen and (min-width: 740px) {

  .home-logo {
    top: 2em;
  }

  .home-h1 {
    top: 2.5em;
    font-size: 3.25em;
  }

  .home-p {
    top: 9em;
    font-size: 1.4em;
  }

  .home-button1 {
    top: 13em;
    left: 155px;
  }

  .home-button2 {
    top: 13em;
    right: 155px;
  }

}

@media only screen and (min-width: 860px) {

  .home-logo {
    top: 3em;
  }

  .home-h1 {
    top: 2.4em;
    font-size: 3.75em;
  }

  .home-p {
    top: 9.5em;
    font-size: 1.5em;
  }

  .home-button1 {
    left: 180px;
    font-size: 1.5em;
  }

  .home-button2 {
    right: 180px;
    font-size: 1.5em;
  }

}


@media only screen and (min-width: 975px) {

  .home-logo {
    height: 100px;
    top: 3.5em;
  }

  .home-h1 {
    top: 2.6em;
    font-size: 4.25em;
  }

  .home-p {
    top: 9.5em;
    font-size: 1.75em;
  }

  .home-button1 {
    top: 14.5em;
    left: 210px;
  }

  .home-button2 {
    top: 14.5em;
    right: 210px;
  }

}

@media only screen and (min-width: 1060px) {

  .home-logo {
    height: 110px;
    top: 4em;
  }

  .home-h1 {
    top: 2.7em;
    font-size: 4.5em;
  }

  .home-p {
    top: 10.5em;
  }

  .home-button1 {
    top: 15em;
    left: 245px;
  }

  .home-button2 {
    top: 15em;
    right: 245px;
  }

  .nav-logo {
    width: 80px;
  }

  header nav li {
    margin-top: 0.75em;
  }

  header nav li:hover {
    margin-top: 0.75em;
  }

  .current {
    margin-top: 0.75em;
  }

  .current:hover {
    margin-top: 0.75em;
  }

}

@media only screen and (min-width: 1340px) {

  .home-logo {
    top: 5em;
  }

  .home-h1 {
    font-size: 5em;
  }

  .home-p {
    top: 12em;
  }

  .home-button1 {
    top: 18em;
    left: 320px;
  }

  .home-button2 {
    top: 18em;
    right: 320px;
  }

}
