@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0em;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

h1 {
  font-weight: bold;
}

.home-photo {
  width: 100%;
  position: relative;
}

.home-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
}

.home-h1 {
  text-align: center;
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: 0em;
  margin-top: 0em;
}

.home-p {
  text-align: center;
  font-size: 1.25em;
  margin-top: 0em;
  margin-bottom: 2em;
}

.home-a {
  color: #00bbe6;
  text-decoration: none;
}

.home-a:hover {
  color: #fff;
}

.home-button1 {
  text-align: center;
  border-color: #00bbe6;
  border-style: solid;
  color: #00bbe6;
  margin: 0em 2em 0em 2em;
  padding: 0.5em 0em 0.5em 0em;
  font-size: 1.25em;
}

.home-button1:hover {
  background-color: #00bbe6;
  border-color: #00bbe6;
  color: #fff;
}

.home-button2 {
  text-align: center;
  border-color: #00bbe6;
  border-style: solid;
  color: #00bbe6;
  margin: 1em 2em 0em 2em;
  padding: 0.5em 0em 0.5em 0em;
  font-size: 1.25em;
}

.home-button2:hover {
  background-color: #00bbe6;
  border-color: #00bbe6;
  color: #fff;
}

.p-button {
  margin: 0em;
}

header nav {
  background-color: #e6e7e8;
  padding-top: 1.5em;
  padding-bottom: 1.25em;
}

.nav-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90px;
}

header nav li {
  color: #00bbe6;
  font-size: 1.25em;
  text-align: center;
  margin: 0em 1em 0em 1em;
  padding: 0em 0em 0em 0em;
  display: inline-block;
  font-weight: 400;
}

header nav li:hover {
  opacity: 0.7;
}

ul {
  list-style-type: none;
  padding: 0em;
  color: #00bbe6;
  width: 100%;
  text-align: center;
}

.current {
  color: #00bbe6;
  opacity: 0.7;
}

.work-a {
  text-decoration: none;
  color: #00bbe6;
}

.work-a2 {
  color: #00bbe6;
  text-decoration: none;
}

.work-h1 {
  text-align: center;
  font-size: 3.5em;
  margin: 0.5em 0em 0em 0em;
}

.work-p1 {
  text-align: center;
  font-size: 1.5em;
  margin: 0em 0em 1.5em 0em;
  color: #00bbe6;
}

.sections img {
  width: 100%;
}

.section1-photo:hover {
  opacity: 0.7;
}

.work-s-1 {
  position: relative;
  background-color: #000;
}

.h2-pack {
  position: absolute;
  width: 100%;
  color: #fff;
  z-index: 200;
  font-size: 2em;
  text-align: center;
  top: 38%;
  transform: translateY(-50%);
  text-shadow: 2px 2px 5px #888888;
}

.section2-photo:hover {
  opacity: 0.7;
}

.work-s-2 {
  position: relative;
  background-color: #000;
}

.h2-print {
  position: absolute;
  width: 100%;
  color: #fff;
  z-index: 200;
  font-size: 2em;
  text-align: center;
  top: 38%;
  transform: translateY(-50%);
  text-shadow: 2px 2px 5px #888888;
}

.section3-photo:hover {
  opacity: 0.7;
}

.work-s-3 {
  position: relative;
  background-color: #000;
}

.h2-brand {
  position: absolute;
  width: 100%;
  color: #fff;
  z-index: 200;
  font-size: 2em;
  text-align: center;
  top: 38%;
  transform: translateY(-50%);
  text-shadow: 2px 2px 5px #888888;
}

.section4-photo:hover {
  opacity: 0.7;
}

.work-s-4 {
  position: relative;
  background-color: #000;
}

.h2-illus {
  position: absolute;
  width: 100%;
  color: #fff;
  z-index: 200;
  font-size: 2em;
  text-align: center;
  top: 38%;
  transform: translateY(-50%);
  text-shadow: 2px 2px 5px #888888;
}

.section5-photo:hover {
  opacity: 0.7;
}

.work-s-5 {
  position: relative;
  background-color: #000;
}

.h2-mark {
  position: absolute;
  width: 100%;
  color: #fff;
  z-index: 200;
  font-size: 2em;
  text-align: center;
  top: 38%;
  transform: translateY(-50%);
  text-shadow: 2px 2px 5px #888888;
}

.section6-photo:hover {
  opacity: 0.7;
}

.work-s-6 {
  position: relative;
  background-color: #000;
}

.h2-motion {
  position: absolute;
  width: 100%;
  color: #fff;
  z-index: 200;
  font-size: 2em;
  text-align: center;
  top: 38%;
  transform: translateY(-50%);
  text-shadow: 2px 2px 5px #888888;
}

footer {
  background-color: #e6e7e8;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  color: #000;
  font-size: 1.25em;
  margin-top: 2em;
}

.copyright {
  margin: 1em 0em 1em 0em;;
  font-size: 0.75em;
}

footer ul {
  margin: 0em;
  width: 100%;
}

footer li {
  margin: 0.25em 0.75em 0.25em 0.75em;
  display: inline-block;
}

.email {
  margin-left: 0.5em;
  margin-right: 0.5em;
  display: inline-block;
}

.email:hover {
  opacity: 0.7;
}

.tumblr {
  margin-left: 0.5em;
  margin-right: 0.5em;
  display: inline-block;
}

.tumblr:hover {
  opacity: 0.7;
}

footer a {
  color: #000;
  text-decoration: none;
  font-size: 1em;
}

footer a:hover {
  color: #00bbe6;
}

.about-p {
  margin: 0em 1.5em 1.5em 1.5em;
}

.about-h1 {
  font-size: 3em;
  text-align: center;
  margin: 0.5em 0em 0.25em 0em;
}

.work-p2 {
  margin: 0em 1em 1.25em 1em;
}

.work-sectionsh2 {
  text-align: center;
  margin: 0.75em 1em 0em 1em;
  color: #00bbe6;
}

.work-sectionsh22 {
  text-align: center;
  margin: 0.75em 1em 0em 1em;
  color: #00bbe6;
}

.written-section1 {
  margin: 0em 1.25em 3.5em 1.25em;
}

figure {
  width: 100%;
  overflow: hidden;
  margin: 0em;
}

.fig-img {
  width: 100%;
}

figcaption {
  text-align: left;
  margin-top: 1em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

.final {
  margin-top: 4em;
}

.final-img1 {
  width: 100%;
}

.final-img2 {
  width: 100%;
}

video {
  width: 100%;
}

.closing {
  margin: 2em 1.25em 4em 1.25em;
  text-align: center;
}

.line {
  height: 1px;
  background-color: black;
  border-bottom: 2px solid #00bbe6;
  margin: 2em 4em 5em 4em;
}

.final-img1-cheo {
  width: 100%;
}

.final-img2-cheo {
  width: 100%;
}

@media only screen and (min-width: 450px) {

.written-section1 {
  margin: 0.5em 3.5em 4em 3.5em;
}

figcaption {
  margin-left: 3em;
  margin-right: 3em;
}

}

@media only screen and (min-width: 500px) {

.home-logo {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 1em;
}

.home-h1 {
  position: absolute;
  top: 2.4em;
  width: 100%;
  left: 0px;
  font-size: 3em;
}

.home-p {
  position: absolute;
  top: 9em;
  width: 100%;
  left: 0px;
}

.home-button1 {
  position: absolute;
  width: 25%;
  left: 100px;
  top: 17em;
  margin: 0em;
}

.home-button2 {
  position: absolute;
  width: 25%;
  right: 100px;
  top: 17em;
  margin: 0em;
}

header nav {
  padding-top: 0.75em;
  padding-bottom: 1em;
  overflow: hidden;
}

.nav-logo {
  display: inline-block;
  width: 60px;
  margin-left: 1em;
  float: left;
}

header nav ul {
  right: 1em;
  float: right;
  display: inline-block;
  margin-top: 0.25em;
  position: absolute;
  width: 75%;
}

header nav li {
  margin: 0em;
  float: right;
  padding: 0.65em 1em 0.65em 1em;
}

.h2-pack {
  font-size: 3em;
}

.h2-print {
  font-size: 3em;
}

.h2-brand {
  font-size: 3em;
}

.h2-illus {
  font-size: 3em;
}

.h2-mark {
  font-size: 3em;
}

.h2-motion {
  font-size: 3em;
}

}

@media only screen and (min-width: 565px) {

.home-a {
  color: #fff;
}

.home-button1 {
  top: 11.5em;
  left: 120px;
  border-color: #fff;
  border-style: solid;
  color: #fff;
}

.home-button2 {
  top: 11.5em;
  right: 120px;
  border-color: #fff;
  border-style: solid;
  color: #fff;
}

.work-h1 {
  font-size: 4.5em;
}

.about-h1 {
  font-size: 3.5em;
}

.work-sectionsh2 {
  color: #fff;
  position: absolute;
  width: 100%;
  top: 34%;
  z-index: 200;
  text-align: center;
  font-size: 2em;
  text-shadow: 2px 2px 5px #888888;
  margin-left: 0em;
}

.home-photo2 {
  position: relative;
}

.home-photo2-2 {
  position: relative;
}

.home-photo2-3 {
  position: relative;
}

.work-sectionsh22 {
  color: #fff;
  position: absolute;
  width: 100%;
  top: 34%;
  z-index: 200;
  text-align: center;
  font-size: 2em;
  text-shadow: 2px 2px 5px #888888;
  margin-left: 0em;
}

}

@media only screen and (min-width: 630px) {

  .home-button1 {
    top: 12em;
    left: 130px;
  }

  .home-button2 {
    top: 12em;
    right: 130px;
  }

  .work-s-1 {
    width: 50%;
    float: left;
    z-index: 200;
  }

  .h2-pack {
    top: 30%;
  }

  .work-s-2 {
    width: 50%;
    float: right;
    z-index: 200;
  }

  .h2-print {
    top: 30%;
  }

  .work-s-3 {
    width: 50%;
    float: left;
    z-index: 200;
  }

  .h2-brand {
    top: 30%;
  }

  .work-s-4 {
    width: 50%;
    float: right;
    z-index: 200;
  }

  .h2-illus {
    top: 30%;
  }

  .work-s-5 {
    width: 50%;
    float: left;
    z-index: 200;
  }

  .h2-mark {
    top: 30%;
  }

  .work-s-6 {
    width: 50%;
    float: right;
    z-index: 200;
  }

  .h2-motion {
    top: 30%;
  }

  footer {
    clear: both;
    padding-top: 2em;
  }

  .home-photo2 {
    height: 400px;
    overflow: hidden;
  }

  .height-adjust {
    position: absolute;
  }

  .height-adjust-2 {
    position: absolute;
  }

  .line {
    margin-left: 8em;
    margin-right: 8em;
  }

}

@media only screen and (min-width: 740px) {

  .home-logo {
    top: 2em;
  }

  .home-h1 {
    top: 2.5em;
    font-size: 3.25em;
  }

  .home-p {
    top: 9em;
    font-size: 1.4em;
  }

  .home-button1 {
    top: 13em;
    left: 155px;
  }

  .home-button2 {
    top: 13em;
    right: 155px;
  }

  .work-h1 {
    font-size: 5em;
  }

  .about-h1 {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0px;
    font-size: 4em;
  }

  .about-p {
    margin: 4em 3em 5em 3em;
  }

  .work-sectionsh2 {
    top: 40%;
    font-size: 2.25em;
  }

  .work-sectionsh22 {
    top: 40%;
    font-size: 2.25em;
  }

  .written-section1 {
    position: relative;
    height: 260px;
    margin: 0em 2.5em 2em 2.5em;
  }

  .written-sectionill {
    height: 125px;
  }

  .write-s-1 {
    position: absolute;
    width: 50%;
    float: left;
    padding: 1.5em;
  }

  .write-s-2 {
    position: absolute;
    width: 50%;
    left: 50%;
    padding: 1.5em;
  }

  figure {
    width: 50%;
    display: inline-block;
    padding: 1em;
  }

  .fig1 {
    float: left;
  }

  .fig2 {
    left: 50%;
  }

  figcaption {
    padding-left: 0em;
    padding-right: 0em;
    margin-left: 2.5em;
    margin-right: 2.5em;
    margin-bottom: 0em;
  }

  .final-img1 {
    width: 50%;
    display: inline-block;
    float: left;
  }

  .final-img2 {
    width: 50%;
    display: inline-block;
    left: 50%;
  }

  .closing {
    margin: 3em 3em 5em 3em;
    font-size: 1.25em;
  }

  .height-adjust-2 {
    bottom: -60px;
  }

  .polter {
    padding: 2em;
    margin: 0em;
  }

}

@media only screen and (min-width: 860px) {

  .home-logo {
    top: 3em;
  }

  .home-h1 {
    top: 2.4em;
    font-size: 3.75em;
  }

  .home-p {
    top: 9.5em;
    font-size: 1.5em;
  }

  .home-button1 {
    left: 180px;
    font-size: 1.5em;
  }

  .home-button2 {
    right: 180px;
    font-size: 1.5em;
  }

  header nav ul {
    margin-top: 0.25em;
  }

  .h2-pack {
    top: 37%;
  }

  .h2-print {
    top: 37%;
  }

  .h2-brand {
    top: 37%;
  }

  .h2-illus {
    top: 37%;
  }

  .h2-mark {
    top: 37%;
  }

  .h2-motion {
    top: 37%;
  }

  .written-section1 {
    margin-bottom: 1em;
    height: 240px;
  }

  .written-sectionill {
    height: 125px;
  }

  .line {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .height-adjust {
    bottom: -50px;
  }

  .height-adjust-2 {
    bottom: -90px;
  }

  .polter {
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 1em;
    padding-bottom: 0em;
  }

}


@media only screen and (min-width: 975px) {

  .home-logo {
    height: 100px;
    top: 3.5em;
  }

  .home-h1 {
    top: 2.6em;
    font-size: 4.25em;
  }

  .home-p {
    top: 9.5em;
    font-size: 1.75em;
  }

  .home-button1 {
    top: 14.5em;
    left: 210px;
  }

  .home-button2 {
    top: 14.5em;
    right: 210px;
  }

  .written-section1 {
    margin: 0em 4.5em 1em 4.5em;
  }

  .about-h1 {
    top: 60%;
    font-size: 5em;
  }

  .about-p {
    font-size: 1.25em;
  }

  .polter {
    padding-left: 6em;
    padding-right: 6em;
  }

}

@media only screen and (min-width: 1060px) {

  .home-logo {
    height: 110px;
    top: 4em;
  }

  .home-h1 {
    top: 2.7em;
    font-size: 4.5em;
  }

  .home-p {
    top: 10.5em;
  }

  .home-button1 {
    top: 15em;
    left: 245px;
  }

  .home-button2 {
    top: 15em;
    right: 245px;
  }

  .nav-logo {
    width: 80px;
  }

  header nav li {
    margin-top: 0.5em;
  }

  .current {
    margin-top: 0.5em;
  }

  .current:hover {
    margin-top: 0.5em;
  }

  .work-h1 {
    font-size: 6em;
    margin-top: 0.4em;
  }

  .work-p1 {
    font-size: 1.75em;
  }

  .work-sectionsh2 {
    top: 34%;
    font-size: 3em;
  }

  .work-sectionsh22 {
    top: 34%;
    font-size: 3em;
  }

  .closing {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 6em;
    text-align: center;
  }

  .height-adjust-2 {
    bottom: -170px;
  }

  .polter {
    padding-left: 9em;
    padding-right: 9em;
  }

}

@media only screen and (min-width: 1340px) {

  .home-logo {
    top: 5em;
  }

  .home-h1 {
    font-size: 5em;
  }

  .home-p {
    top: 12em;
  }

  .home-button1 {
    top: 18em;
    left: 320px;
  }

  .home-button2 {
    top: 18em;
    right: 320px;
  }

  .work-h1 {
    font-size: 7em;
  }

  .work-s-1 {
    padding: 2em 1em 1em 2em;
  }

  .h2-pack {
    padding: 0em 1em 0em 0em;
    top: 43%;
  }

  .work-s-2 {
    padding: 2em 2em 1em 1em;
  }

  .h2-print {
    padding: 0em 2em 0em 1em;
    top: 43%;
  }

  .work-s-3 {
    padding: 1em 1em 1em 2em;
  }

  .h2-brand {
    padding: 0em 1em 0em 0em;
    top: 41%;
  }

  .work-s-4 {
    padding: 1em 2em 1em 1em;
  }

  .h2-illus {
    padding: 0em 1em 0em 0em;
    top: 41%;
  }

  .work-s-5 {
    padding: 1em 1em 2em 2em;
  }

  .h2-mark {
    padding: 0em 1em 0em 0em;
    top: 39%;
  }

  .work-s-6 {
    padding: 1em 2em 2em 1em;
  }

  .h2-motion {
    padding: 0em 1em 0em 0em;
    top: 39%;
  }

  .about-h1 {
    top: 55%;
    font-size: 6em;
  }

  .about-p {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 5em;
  }

  .work-sectionsh2 {
    font-size: 4em;
    top: 26%;
  }

  .work-sectionsh22 {
    font-size: 4em;
    top: 26%;
  }

  .written-section1 {
    height: 200px;
  }

  .written-sectionill {
    height: 125px;
  }

  .final {
    margin-top: 6em;
  }

  .height-adjust {
    bottom: -100px;
  }

  .height-adjust-2 {
    bottom: -270px;
  }

}
