<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Monica Winter</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald:300,400" rel="stylesheet">
</head>
<body>
<header>
  <nav>
    <a href="index.html"><img class="nav-logo" src="images/logo.svg" alt=""></a>
    <ul>
      <li class="current"><a class="work-a" href="{{site.baseurl}}/work/">Work</a></li>
      <li class="not-current"><a class="work-a2" href="{{site.baseurl}}/about/">About</a></li>
    </ul>
  </nav>
</header>

<main>
{{content}}
</main>

<footer>
  <nav>
    <ul>
      <li class="work-li"><a href="work.html" class="work-li">Work</a></li>
      <li class="about-li"><a href="about.html" class="about-li">About</a></li>
    </ul>
  </nav>
  <a href="mailto:monica@monicawinter.ca" class="email"><img class="email" src="images/email.svg" alt="email icon" height="35"></a>
  <a href="http://monicamwinter.tumblr.com/" class="tumblr"><img class="tumblr" src="images/tumblr.svg" alt="tumblr icon" height="35"></a>
  <p class="copyright">© 2016 Monica Winter</p>
</footer>
</body>
</html>
